.header {
	padding-top: 10px;
	padding-bottom: 50px;
	margin-bottom: 40px;
}

.navbar-light .navbar-nav .nav-link {
	/* color: white; */
	font-size: 18px;
	padding: 10px 20px;
}

.w-25 {
	width: 10% !important;
}
